<div id="settings-trigger" (click)="toggleThemeSettings()"><i class="mdi mdi-cog"></i></div>
<div id="theme-settings" class="settings-panel">
    <i class="settings-close mdi mdi-close" (click)="closeSettingsSidebar('theme')"></i>
    <p class="settings-heading">SIDEBAR SKINS</p>
    <div class="sidebar-bg-options selected" id="sidebar-default-theme" (click)="changeSidebarTheme('light')">
        <div class="img-ss rounded-circle bg-light border mr-3"></div>Default
    </div>
    <div class="sidebar-bg-options" id="sidebar-dark-theme" (click)="changeSidebarTheme('dark')">
        <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
    </div>
    <p class="settings-heading mt-2">HEADER SKINS</p>
    <div class="color-tiles mx-0 px-4">
        <div class="tiles primary" (click)="changeNavbarTheme('primary')"></div>
        <div class="tiles success" (click)="changeNavbarTheme('success')"></div>
        <div class="tiles warning" (click)="changeNavbarTheme('warning')"></div>
        <div class="tiles danger" (click)="changeNavbarTheme('danger')"></div>
        <div class="tiles info" (click)="changeNavbarTheme('info')"></div>
        <div class="tiles dark" (click)="changeNavbarTheme('dark')"></div>
        <div class="tiles default light" (click)="changeNavbarTheme('default')"></div>
    </div>
    <p class="settings-heading mt-2">LAYOUT OPTIONS</p>
    <div class="layout-variations px-4 mx-2 mt-3">
        <div class="form-check layout-item">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="layout-variations" [checked]="isDefaultLayout" (change)="changeLayout('default')">
        Default
        <i class="input-helper"></i>
      </label>
        </div>
        <div class="form-check layout-item">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="layout-variations" [checked]="isBoxedLayout" (change)="changeLayout('boxed')">
        Boxed Layout
        <i class="input-helper"></i>
      </label>
        </div>
        <div class="form-check layout-item">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="layout-variations" [checked]="isSidebarIconOnly" (change)="changeLayout('icon-menu')">
        Icon Menu
        <i class="input-helper"></i>
      </label>
        </div>
        <div class="form-check layout-item">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="layout-variations" [checked]="isCompactMenu" (change)="changeLayout('compact-menu')">
        Compact Menu
        <i class="input-helper"></i>
      </label>
        </div>
        <div class="form-check layout-item">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="layout-variations" [checked]="isFixedSidebar" (change)="changeLayout('fixed-sidebar')">
        Fixed Sidebar
        <i class="input-helper"></i>
      </label>
        </div>
        <div class="form-check layout-item">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="layout-variations" [checked]="isHiddenSidebar" (change)="changeLayout('hidden-sidebar')">
        Hidden Sidebar
        <i class="input-helper"></i>
      </label>
        </div>
        <div class="form-check layout-item">
            <label class="form-check-label">
        <input type="radio" class="form-check-input" name="layout-variations" [checked]="isOverlaySidebar" (change)="changeLayout('overlay-sidebar')">
        Overlay Sidebar
        <i class="input-helper"></i>
      </label>
        </div>
    </div>
</div>
