<div class="container-fluid content_container" style="padding: 20px 30px !important;">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between content_header">
            <div class="col-md-3">
                <h2 class="font-weight-bold content_title">{{'PAGE.CLIENT.TITLE' |translate}}</h2>
            </div>
            <div class="col-md-3">
                <button class="btn btn-info add_button" [routerLink]="'/client/createInsuranceCompany'">{{'PAGE.USERS.INSURANCE_COMPANY' |translate}}</button>
            </div>
        </div>

        <div *ngIf="dataInsurances!=null" class="col-sm-12 my-4">
            <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                    <th scope="col">{{'PAGE.USERS.NAME'  | translate}}</th>
                    <th scope="col">{{'PAGE.USERS.PHONE'  | translate}}</th>
                    <th scope="col">{{'PAGE.USERS.MANAGER_CONTACT'  | translate}}</th>
                    <th scope="col">{{'PAGE.ASSIGNMENT.actions'  | translate}}</th>
                </tr>
                                </thead>
                <tbody>

                    <tr *ngFor="let dataInsurance of dataInsurances">
<td>{{dataInsurance.name}}</td>
<td>{{dataInsurance.phone}}</td>
<td>{{dataInsurance.contact_person}}</td>
<td class="actions">

    <a routerLink="/client/editInsurance/{{dataInsurance.id}}" style="margin-left: 10px;"><i class="fas fa-pencil"></i></a>
    <a style="cursor: pointer;" (click)="deleteRow(dataInsurance)"><i class="fas fa-trash"></i></a>

</td>

                    </tr>

                 </tbody>
                 </table>
                 </div>

            <!-- <ngx-datatable #table class="material" [rows]="dataInsurance" [columns]="columns" [messages]="messages" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'45'">
                <ngx-datatable-column [sortable]="true" prop='name' name="{{'PAGE.USERS.NAME'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='phone' name="{{'PAGE.USERS.PHONE'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='address' name="{{'PAGE.USERS.ADDRESS'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='contact_person' name="{{'PAGE.USERS.MANAGER_CONTACT'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='status' name="{{'PAGE.USERS.STATUS'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [maxWidth]="70">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <button class="btn tblActnBtn h-auto " [matMenuTriggerFor]="belowMenu">
                            <mat-icon class="f-18">menu</mat-icon>
                        </button>
                        <mat-menu #belowMenu="matMenu" class="d-flex flex-column align-items-end justify-content-end" yPosition="below" style="height: 10em;">
                            <button class="text-center" mat-menu-item (click)='editRow(row)'>
                                {{ 'SYSTEM.UPDATE' |translate}}
                            </button>
                            <button class="text-center" mat-menu-item (click)='deleteRow(row)'>
                                {{ 'SYSTEM.DELETE' |translate}}
                            </button>
                        </mat-menu>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable> -->
        </div>
    </div>
</div>