<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between align-items-center">
            <div class="col-md-3">
                <h1 class="font-weight-bold">{{'PAGE.CLIENT.TITLE' |translate}}</h1>
            </div>
            <div class="col-md-3">
                <button class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn" [routerLink]="'/client/createInsuranceCompany'">{{'PAGE.USERS.INSURANCE_COMPANY'
                        |translate}}</button>
            </div>
        </div>
        <div *ngIf="dataInsurance!=null" class="col-sm-12 my-4">
            <ngx-datatable #table class="material" [rows]="dataInsurance" [columns]="columns" [messages]="messages" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'45'">
                <ngx-datatable-column [sortable]="true" prop='name' name="{{'PAGE.USERS.NAME'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='phone' name="{{'PAGE.USERS.PHONE'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='address' name="{{'PAGE.USERS.ADDRESS'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='contact_person' name="{{'PAGE.USERS.MANAGER_CONTACT'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='status' name="{{'PAGE.USERS.STATUS'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [maxWidth]="70">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <button class="btn tblActnBtn h-auto " [matMenuTriggerFor]="belowMenu">
                            <mat-icon class="f-18">menu</mat-icon>
                        </button>
                        <mat-menu #belowMenu="matMenu" class="d-flex flex-column align-items-end justify-content-end" yPosition="below" style="height: 10em;">
                            <button class="text-center" mat-menu-item (click)='editRow(row)'>
                                {{ 'SYSTEM.UPDATE' |translate}}
                            </button>
                            <button class="text-center" mat-menu-item (click)='deleteRow(row)'>
                                {{ 'SYSTEM.DELETE' |translate}}
                            </button>
                        </mat-menu>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>