.main_content{
    border-radius: 10px;
}

.container-scroller{
    box-shadow: 0 0 0.25em 0.25em rgb(0 0 0 / 25%) !important;
    border-radius: 20px !important;
}

.head-title{
    font-family: 'Cairo' !important;
    font-size: 28px !important;
    font-weight: 500 !important;
}

.desc_login{
    font-family: 'Cairo' !important;
    font-size: 14px !important;
    color: #999;
}

input{
    text-align: left;
    border: 0 !important;
    border-radius: 10px !important;
    height: 50px;
    box-shadow: 0 0 5px 5px #eee !important;
    margin-bottom: 15px;
}

.input-group i{
    position: absolute;
    top: 20px;
    right: 20px;
}

input.remember{
    padding: 0 !important;
    height: auto;
    box-shadow: none !important;
}

button.login_button{
    padding: 10px;
    direction: rtl;
    float: right;
}