<div class="container-fluid content_container" style="padding: 20px 30px !important;">
    <div class="d-flex justify-content-center" *ngIf="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only" id="loading"></span>
        </div>
    </div>
    <div class="row" *ngIf="!loader">
        <div class="col-lg-12 d-flex justify-content-between content_header">
            <div class="col-md-3">
                <h2 class="font-weight-bold content_title">{{'PAGE.ASSIGNMENT.TITLE' |translate}}</h2>
            </div>
            <div class="col-md-3">
                <button class="btn btn-info add_button" [routerLink]="'/assignment/newAssignment'">{{'PAGE.ASSIGNMENT.NEW_ASSIGNMENT' |translate}}</button>
            </div>
        </div>
        <div class="col-sm-12 my-4" *ngIf="assignmentDatas!=null">
            <!-- <ngx-datatable #table class="material" [rows]="assignmentData" [columns]="columns" [messages]="messages" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'45'">
                <ngx-datatable-column style="font-size: 8px !important;" [sortable]="true" prop='id' name="{{'PAGE.ASSIGNMENT.ID'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='customer_name' name="{{'PAGE.ASSIGNMENT.CLIENT_NAME'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='customer_phone' name="{{'PAGE.ASSIGNMENT.CLIENT_PHONE'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='insurance_company' name="{{'SYSTEM.TITLE'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='contact_person_name' name="{{'PAGE.ASSIGNMENT.CONTACT_PERSON_NAME'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='examination_type' name="{{'PAGE.ASSIGNMENT.EXAMINATION_TYPE'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='examination_location_type' name="{{'PAGE.ASSIGNMENT.EXAMINATION_LOCATION_TYPE'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" prop='car_model' name="{{'PAGE.ASSIGNMENT.CAR_MODEL'  | translate}}">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [maxWidth]="70">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <button class="btn tblActnBtn h-auto " [matMenuTriggerFor]="belowMenu">
                            <mat-icon class="f-18">menu</mat-icon>
                        </button>
                        <mat-menu #belowMenu="matMenu" class="d-flex flex-column align-items-end justify-content-end" yPosition="below" style="height: 10em;">
                            <button class="text-center" mat-menu-item (click)='editRow(row)'>
                                {{ 'SYSTEM.UPDATE' |translate}}
                            </button>
                            <button class="text-center" mat-menu-item (click)='deleteRow(row)'>
                                {{ 'SYSTEM.DELETE' |translate}}
                            </button>
                        </mat-menu>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable> -->

            <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                    <th scope="col">{{'PAGE.ASSIGNMENT.CLIENT_NAME'  | translate}}</th>
                    <th scope="col">{{'PAGE.ASSIGNMENT.CAR_DOCUMENT'  | translate}}</th>
                    <th scope="col">{{'PAGE.ASSIGNMENT.EXAMINATION_TYPE'  | translate}}</th>
                    <th scope="col">{{'PAGE.ASSIGNMENT.EXAMINATION_LOCATION_DATA'  | translate}}</th>
                    <th scope="col">{{'PAGE.ASSIGNMENT.status'  | translate}}</th>
                    <th scope="col">{{'PAGE.ASSIGNMENT.actions'  | translate}}</th>
                </tr>
                                </thead>
                <tbody>

                    <tr *ngFor="let assignmentData of assignmentDatas">
                        <td>{{assignmentData.customer_name}}</td>
                        <td>{{assignmentData.car_document_number}}</td>
                        <td>{{assignmentData.examination_type}}</td>
                        <td>{{assignmentData.examination_location_type}}</td>
                        <td>
                            <span class="circle-danger" *ngIf="assignmentData.status=='pending'"></span>
                            <span class="circle-green" *ngIf="assignmentData.status=='completed'"></span>
                            <span class="circle-yellow" *ngIf="assignmentData.status=='on going'"></span>
                            {{assignmentData.status}}
                        </td>
                        <td class="actions">

                            <a (onClick)="saveId(assignmentData.id)" routerLink="/assignment/editAssignment/{{assignmentData.id}}" style="margin-left: 10px;"><i class="fas fa-pencil"></i></a>
                            <a style="cursor: pointer;" (click)="deleteAssignment(assignmentData)"><i class="fas fa-trash"></i></a>

                        </td>

                      </tr>
                      
                    
                    </tbody>
              </table>
              </div>

            <!-- <table datatable [dtOptions]="dtOptions" class="table row-border hover">
                <thead>
                <tr>
                <th>UserId</th>
                <th>Subject</th>
                <th>Message</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let assignmentDa of assignmentData">
<th>{{assignmentDa.customer_name}}</th>
<th>{{assignmentDa.customer_name}}</th>
<th>{{assignmentDa.customer_name}}</th>
<th>{{assignmentDa.customer_name}}</th>

                    </tr>
                    </tbody>
                    </table> -->
        </div>
    </div>
</div>
